<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Add Asana</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /></head>
</head>
<body class="font-weight-normal font-italic p-3 mb-2 bg-dark text-light">
	<h2>Add Asana</h2>
<br>
	<div class="container-fluid">
		<form th:object="${asana}" th:action="@{saveasana}" action="#" method="post">
		<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
				<label for="name">Name</label>
	<input type="text" id="name" th:field="*{asname}" class="form-control"/>
	<div style="clear: both; display: block; height: 10px;"></div>
		<label for="description">Description</label>
	<input type="text" id="description" th:field="*{adescription}" class="form-control"/>
	<div style="clear: both; display: block; height: 10px;"></div>
    		<br>
			<input class="btn btn-outline-success" type="submit" value="Save"></input>
			</form>

	</div>
</body>
</html>