<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

<head>
	<title>Joogalist</title>
	<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
</head>
<body>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	
	<br>
	<h1>JoogaBooga</h1>
	<br>
	<div>
	<h4>Joogas</h4>
	<table class="table table-striped">
		<tbody>
			<tr th:each = "jooga : ${joogas}">
			<td th:text="${jooga.name}"></td>
			
			<td><p th:each = "asana : ${jooga.asanas}">
			<span th:text="${asana.asname}"></span>
			<span th:text="${asana.adescription}"></span>
			</p></td>
			
			<td th:text="${jooga.description}"></td>
			<td th:text="${jooga.time}"></td>
			<td th:text="${jooga.review.name}"></td>
			<td><a class="btn btn-danger" color=#DD5DB2 th:href="@{/delete/{id}(id=${jooga.id})}"
							sec:authorize="hasAuthority('ADMIN')">Delete</a></td>
			<td><a class="btn btn-danger" th:href="@{/edit/{id}(id=${jooga.id})}"
							sec:authorize="hasAuthority('ADMIN')">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/new" class="btn btn-success"> New </a>
</body>
</html>
